*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-image: url(img/wave.svg), url(img/bosque.jpg);
    background-size: 105%, cover;
    background-repeat: no-repeat, no-repeat;
    
}

container{
    width: 90%;
    margin-left: 20%;
    display: flex;
}

h1{
    margin-left: 1.5%;
    margin-top: 2%;
    color: #44bd32;
    font-family: 'Koulen', cursive;
}

.verde{
    border-radius: 10px;
    width: 10%;
    height: 5%;
}

section{
    display: block;
    width: 90%;
    height:25.5rem;
    margin-left: 5%;
}
 canvas{
     display: inline-flex;
     border: solid 5px;
     border-radius: 2%;
     background-color: #FFFFFF;
 }

 canvas:hover{
    -webkit-box-shadow: 12px 13px 9px 0px rgba(226,245,226,1);
    -moz-box-shadow: 12px 13px 9px 0px rgba(226,245,226,1);
    box-shadow: 12px 13px 9px 0px rgba(226,245,226,1);
 }


 .herramienta{
    display: inline-flex;
    border: outset 15px;
    border-right: #dcdde1;
    border-left: #dcdde1;
    border-radius: 2%;
    background-color: #dcdde1;
    width: 30%;
    height: 100%;
    margin-left: 2.5%;

 }

.herramienta:hover{
    background-color: #ecf0f1;
    -webkit-box-shadow: 12px 13px 9px 0px rgba(226,245,226,1);
    -moz-box-shadow: 12px 13px 9px 0px rgba(226,245,226,1);
     box-shadow: 12px 13px 9px 0px rgba(226,245,226,1);
}


 footer{
    width: 100%;
    height: 13rem;
    background-image: url(img/waveRR.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -4.5rem ;
 }

 footer p{
     margin-left: 37%;
     margin-top: 10rem;
     font-size: 18px;
     font-family: 'Koulen', cursive;
     position: absolute;

 }

 a{
    margin-left: 93%;
    margin-top: 10%;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #44bd32;
 }

 .inputdiv{
     position: absolute;
 }

.div1{
    margin-top: 12px;
    margin-left: 50px;
    width: 250px;
    height: 80px;
    border-top: solid 1px rgb(152, 156, 158);
    border-bottom: solid 1px rgb(152, 156, 158);
}

.inputGuardar{
    width: 40px;
    height: 40px;
    border: none;
    background-image: url(img/guardar32.png);
    background-repeat: no-repeat;
    background-size: 40px;
    margin-top: 15px;
    margin-left: 110px;
}
.inputGuardar:hover{
    width: 46px;
    height: 46px;
    background-size: 46px;
}
.inputGuardar:active{
    background-size: 36px;
}

.labelGuardar{
    width: 90px;
    margin-top: -13px;
    margin-left: 80px;
    position: absolute;
    background-color: #dcdde1;
    border-radius: 4px;
    font-size: 16px;
    font-family:  cursive;
    padding-left: 17px;
}

 .div2{
     width: 300px;
     height: 185px;
     margin-top: 100px;
     border: inset 4px;
     margin-left: 30px;
 }

 .inputcolor{
     margin-top: 18px;
     margin-left: 30px;
 }

.inputBorrar{
    width: 45px;
    height: 20px;
    border: none;
    margin-top: 60px;
    margin-left: 25px;
    background-image: url(img/borardor.png);
    background-repeat: no-repeat;
    background-size: 45px;
    transform: rotate(-45deg);
 }
 .inputBorrar:hover{
    width: 55px;
    height: 30px;
    background-size: 55px;
 }
 .inputBorrar:active{
    background-size: 40px;
 }

 .inputPintura{
    width: 40px;
    height: 39px;
    border: none;
    margin-top: 50px;
    margin-left: 60px;
    background-image: url(img/bote.png);
    background-repeat: no-repeat;
    background-size: 40px;
    transform: rotate(45deg);
    position: absolute;
 }
 .inputPintura:hover{
    width: 45px;
    height: 44px;
    background-size: 45px;
 }
 .inputPintura:active{
    background-size: 35px;
 }

 .div3{
    width: 330px;
    height: 50px;
    margin-top: 300px;
    margin-left: 14px;
    border-top: dotted 4px;
}

.inputlimpiar{
    width: 40px;
    height: 40px;
    margin-top: 17px;
    margin-left: 150px;
    border: none;
    background-image: url(img/reset.png);
    background-repeat: no-repeat;
    background-size: 40px;
    border-radius: 50%;
    animation: rotation 5s infinite linear;
    
}
.inputlimpiar:hover{
    background-size: 47px;
    animation: none;
}
.inputlimpiar:active{
    background-size: 35px;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


.lL{
    width: 130px;
    margin-left: 100px;
}


/**Agregando los @media para hacer el sitio adaptable**/

@media all and (max-width:1360px) {
    section{
       margin-left: 2%;
    }
    .herramienta{
        margin-left: 2%;
        width: 25%;
    }
    .div1{
        margin-left: 20px;
    }
    .div2{
        width: 250px;
        height: 160px;
        margin-left: 20px;
    }
    .inputcolor{
        margin-top: 18px;
        margin-left: 20px;
    }
    .inputBorrar{
        margin-top: 50px;
    }
    .inputPintura{
        margin-top: 40px;
        margin-left: 60px;
    }
    .div3{
        width: 250px;
        margin-left: 20px;
    }
    .lL{
        margin-left: 60px;
    }
    .inputlimpiar{
        margin-left: 110px;
    }
    .inputGuardar{
        margin-left: 105px;
    }
}

@media all and (max-width:1260px) {
    canvas{
        width:750px;
        height: 400px;
    }
    .div1{
        margin-left: 12px;
        width: 230px;
    }
    .div2{
        width: 220px;
        height: 160px;
        margin-left: 20px;
    }
    .inputcolor{
        margin-top: 18px;
        margin-left: 5px;
    }
    .div3{
        width: 220px;
    }
    .lL{
        margin-left: 50px;
    }
    .inputlimpiar{
        margin-left: 95px;
    }
}

@media all and (max-width:1170px) {

    section{
        width: 75%;
        height: 500px;
        margin: auto;
        flex-direction: column;
    }
    canvas{
        width: 100%;
    }
    canvas:hover{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
         box-shadow:none;
    }
    .herramienta{
        width: 100%;
        height: 100px;
        margin-left: 0;
        display: flex;
        flex-direction: row;
        border: outset 8px;
        border-right: #dcdde1;
        border-left: #dcdde1;
    }
    .herramienta:hover{
        background-color: #ebebec;
        -webkit-box-shadow: 0px 13px 9px 0px rgba(226,245,226,1);
        -moz-box-shadow: 0px 13px 9px 0px rgba(226,245,226,1);
         box-shadow: 0px 13px 9px 0px rgba(226,245,226,1);
    }
    .div1{
        margin-top: 8px;
        width: 100px;
        height: 70px;
        position: relative;
    }
    .labelGuardar{
        margin-left: 15px;
        margin-top: -10px;
        width: 70px;
        font-size: 14px;
        padding-left: 10px;
    }
    .inputGuardar{
        width: 36px;
        height: 36px;
        background-size: 36px;
        position: absolute;
        margin-left: 30px;
        margin-top: 20px;
    }
    .inputGuardar:hover{
        width: 40px;
        height: 40px;
        background-size: 40px;
    }
    .inputGuardar:active{
        background-size: 35px;
    }
    .div2{
        width: 450px;
        height: 70px;
        margin-left: 150px;
        margin-top: 8px;
        display: flex;
        flex-direction: row;
    }
    .inputcolor{
        margin-top: 15px;
        margin-left: 20px;
    }
    .inputBorrar{
        margin-top: 25px;
        margin-left: 60px;
        width: 36px;
        height: 18px;
        background-size: 36px;
    }
    .inputBorrar:hover{
        width: 40px;
        height: 20px;
        background-size: 40px;
    }
    .inputBorrar:active{
        background-size: 35px;
    }
    .inputPintura{
        margin-top: 15px;
        margin-left: 370px;
        width: 36px;
        height: 36px;
        background-size: 36px;
    }
    .inputPintura:hover{
        width: 40px;
        height: 40px;
        background-size: 40px;
    }
    .inputPintura:active{
        background-size: 36px;
    }
    .div3{
        width: 150px;
        margin-left: 58%;
        margin-top: 8px;
    }
    .lL{
        margin-left: 22px;
    }
    .inputlimpiar{
        margin-left: 60px;
    }
    .size{
        width: 105px;
    }
    #valor{
        margin-top: 30px;
        margin-left: 5px;
    }
}

@media all and (max-width:1060px) {

    .div2{
        width: 400px;
        margin-left: 130px;
    }
    .inputBorrar{
        margin-left: 30px;
    }
    .inputPintura{
        margin-left: 340px;
    }
}

@media all and (min-width:800px) and (max-width:950px) {

    .div1{
        width: 90px;
    }
    .labelGuardar{
        margin-left: 10px;
    }
    .div2{
        width: 360px;
        margin-left: 120px;
    }
    .inputcolor{
        margin-left: 10px;
    }
    .inputBorrar{
        margin-left: 25px;
    }
    .inputPintura{
        margin-left: 300px;
    }
    .div3{
        width: 100px;
        margin-left: 62%;
    }
    .lL{
        margin-left: 16px;
    }
    .size{
        width: 60px;
        height: 20px;
        overflow: hidden;
    }
    .inputlimpiar{
        margin-left: 30px;
    }
    a{
        margin-left: 90%;
        margin-top: 17%;
    }
}

@media all and (min-width:680px) and (max-width:799px) {

    section{
        width: 80%;
    }
    .div1{
        width: 80px;
    }
    .labelGuardar{
        margin-left: 5px;
    }
    .inputGuardar{
        margin-left: 20px;
    }
    .div2{
        width: 355px;
        margin-left: 100px;
    }
    .inputBorrar{
        margin-left: 20px;
    }
    .inputPintura{
        margin-left: 300px;
    }
    .div3{
        width: 80px;
        margin-left: 67%;
        margin-top: 10px;
        border-top: none;
    }
    .lL{
        margin-left: 16px;
    }
    .size{
        width: 60px;
        height: 20px;
        overflow: hidden;
    }
    .inputlimpiar{
        margin-left: 30px;
    }

    h1{
        font-size: 26px;
        font-family: 'Koulen', cursive;
    }
    .verde{
        width: 15%;
        height: 10%;
    } 
    container{
        margin-top: 5px;
    }   
    footer p{
        margin-left: 30%;
    }
    a{
        margin-left: 88%;
        margin-top: 19%;
    }
}

@media all and (min-width:600px) and (max-width:679px) {

    section{
        width: 90%;
        height: 570px;
    }
    canvas{
        border: solid 3px;
    }
    .herramienta{
        height: 160px;
    }
    .div1{
        width: 80px;
    }
    .labelGuardar{
        margin-left: 5px;
    }
    .inputGuardar{
        margin-left: 20px;
    }
    .div2{
        width: 270px;
        height: 120px;
        margin-left: 150px;
    }
    .inputcolor{
        margin-left: 30px;
    }
    .inputBorrar{
        margin-left: -210px;
        margin-top: 70px;
    }
    .inputPintura{
        margin-left: 140px;
        margin-top: 60px;
    }
    .raya{
        margin-top: -40px;
    }
    #valor{
        margin-top:25px;
    }
    .div3{
        width: 80px;
        margin-left: 1%;
        margin-top: 82px;
        border-top: none;
    }
    .lL{
        margin-left: 16px;
    }
    .size{
        width: 60px;
        height: 20px;
        overflow: hidden;
    }
    .inputlimpiar{
        margin-left: 25px;
    }

    h1{
        font-size: 22px;
        font-family: 'Koulen', cursive;
    }
    .verde{
        width: 18%;
        height: 13%;
    } 
    container{
        margin-top: 5px;
    }   
    footer p{
        margin-left: 20%;
        margin-top: 27%;
    }
    a{
        margin-left: 85%;
        margin-top: 22%;
    }
}

@media all and (max-width:599px) {
    section{
        width: 90%;
        height: 570px;
    }
    canvas{
        border: solid 3px;
    }
    .herramienta{
        height: 160px;
    }
    .div1{
        width: 80px;
    }
    .labelGuardar{
        margin-left: 5px;
    }
    .inputGuardar{
        margin-left: 20px;
    }
    .div2{
        width: 230px;
        height: 120px;
        margin-left: 110px;
    }
    .inputcolor{
        margin-left: 20px;
    }
    .inputBorrar{
        position: absolute;
        margin-left: 100px;
        margin-top: 20px;
    }
    .inputPintura{
        position: absolute;
        margin-left: 160px;
        margin-top: 10px;
    }
    .raya{
        position: absolute;
        margin-top: 70px;
        margin-left: 20px;
    }
    #valor{
        margin-top: 68px;
        margin-left: 85px;
    }
    .div3{
        width: 80px;
        margin-left: 1%;
        margin-top: 82px;
        border-top: none;
    }
    .lL{
        margin-left: 16px;
    }
    .size{
        width: 60px;
        height: 20px;
        overflow: hidden;
    }
    .inputlimpiar{
        margin-left: 25px;
    }

    h1{
        font-size: 22px;
        font-family: 'Koulen', cursive;
    }
    .verde{
        width: 18%;
        height: 13%;
    } 
    container{
        margin-top: 5px;
    }   
    footer p{
        margin-left: 18%;
        margin-top: 25%;
    }
    a{
        margin-left: 80%;
        margin-top: 23%;
    }
}

